<footer class="global-footer">
  <div class="container">
    <div class="global-footer-icon-wrapper">
      <ul>
        <li><a href="mailto:mcs.kutc@gmail.com" aria-label="メール"><i class="far fa-envelope"></i></a></li>
        <li><a href="https://twitter.com/mcs_kutc/" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/mcs.kutc/" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
      </ul>
    </div>
    <small class="global-footer-copyright">&copy;{% now 'Y' %} Media Creative Supporter</small>
  </div>
</footer>