<aside class="global-sidebar">
  <ul>
    <li class="{{ color|default:"black" }}-chara">
      <a href="mailto:mcs.kutc@gmail.com" aria-label="メール"><i class="far fa-envelope"></i></a>
    </li>
    <li class="{{ color|default:"black" }}-chara">
      <a href="https://twitter.com/mcs_kutc/" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="{{ color|default:"black" }}-chara">
      <a href="https://www.facebook.com/mcs.kutc/" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
    </li>
    <li class="{{ color|default:"black" }}-chara">
      <div class="vline"></div>
    </li>
    <li class="{{ color|default:"black" }}-chara">
      <a href="#" class="global-btt-btn" aria-label="トップに戻る"><span>BACK TO TOP</span></a>
    </li>
  </ul>
</aside>